.home {
  display: flex;
}

.balance {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #000;
}

.balance-container {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 50vh;
  background-color: #f8f9fa;

  & h1 {
    font-weight: bold;
  }

  & &__balance {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

    &--total {
      color: #f8f800; 
    }

    &--income {
      color: #43d843;
    }

    &--expenses {
      color: #dc4c4c;
    }
  }
}

.total-container {
  padding: 40px;
  width: 100%;
  border-top: 1px solid #000;
}
