.payment-form-container {
  &--dark-mode {
    border: #26243d;
    background-color: #26243d;
    color: #fff;
  }
}

// .payment-form-section {
//   &--dark-mode input, &--dark-mode input:active {
//   background-color: #252830;
  // }
// }
