.history-container {
  width: 100%;
  padding: 20px;

  &--full {
    padding: 50px;
  }

  &--animated {
    animation: showHistory 1s ease-in;
  }
}

.history-wrapper {
  padding: 20px 50px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
}

.history-top {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.section-heading {
  margin-bottom: 0;
  font-size: 20px;
  color: $link-color-light-hover;
  font-weight: bold;

  &--dark-mode {
    color: $main-color-light;
  }
}
