.history-container {
  width: 100%;
  padding: 20px;

  &--full {
    padding: 50px;
  }

  &--animated {
    animation: showHistory 1s ease-in;

    @keyframes showHistory {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

.history-wrapper {
  padding: 20px 50px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
}

.history-top {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.section-heading {
  margin-bottom: 0;
  font-size: 20px;
  color: $link-color-light-hover;
  font-weight: bold;

  &--dark-mode {
    color: #fff;
  }
}

.table-history {
  width: 100%;
  text-align: center;
  border-collapse: separate;
}

.view-all {
  color: #28a073;
  font-weight: $font-weigth-middle;
  text-decoration: none;

  &:hover {
    color: #006f46;
  }

  &__eagle {
    font-size: 15px;
  }
}

.action-controls {
  display: flex;
  gap: 10px;
}

.remove-all {
  color: #bf4f47;
  font-weight: $font-weigth-middle;
  text-decoration: none;

  &:hover {
    color: #751e1e;
  }

  &__cross {
    font-size: 15px;
  }
}

.table-titles {
  & > * {
    text-transform: uppercase;
    color: $link-color-light;
    font-size: 11px;
    font-weight: $font-weigth-middle;
    padding-bottom: 5px;
  }
}

.new-row {
  animation: showHistory 1s ease-in;
}

.transaction-cell {
  border-radius: 5px;
  opacity: 0.95;
}

.transaction-cell-name {
  &--dark-mode {
    color: #fff;
  }
}

.transaction-cell-amount {
  &--dark-mode {
    color: #fff;
  }
}

.transaction-cell-balance {
  &--dark-mode {
    color: #fff;
  }
}

.income-cell {
  color: #00a86b;
}

.expense-cell {
  color: #fd5c63;
}

.time-cell {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;

  &--dark-mode {
    color: #fff;
  }
}

.hours-cell {
  color: $link-color-light;
  font-size: 14px;
}

.editForm {
  z-index: 1;
  position: fixed;
  bottom: 50px;
  right: 20px;
  padding: 15px;

  background-color: $main-color-light;
  border: 1px solid #dee2e6;
  border-radius: 20px;
  transition: transform 1s ease;
  animation: showUp 1s ease;

  &--dark-mode {
    background-color: $dark-mode-second-color;
  }

  @keyframes showUp {
    0% {
      transform: translateX(100%);
      // opacity: 0;
    }
    100% {
      transform: translateX(0);
      // opacity: 1;
    }
  }
}

.no-data {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;

  &__text {
    font-size: 25px;

    &--dark-mode {
      color: #fff;
    }
  }
}
