%icon-dash-hover {
  filter: invert(78%) sepia(5%) saturate(675%) hue-rotate(172deg) brightness(87%)
}

%icon-hover {
  filter: invert(6%) sepia(5%) saturate(7075%) hue-rotate(182deg) brightness(95%)
    contrast(84%);
}

%icon-hover-dark-mode {
  filter: invert(96%) sepia(0%) saturate(13%) hue-rotate(34deg) brightness(103%)
    contrast(102%);
}
