$main-color-light: #fff;
$error-color: #f00;
$main-color-gray: #e6e6e6;
$dark-mode-second-color: #26243d;
$link-color-light: #a2adba;
$link-color-light-hover: #1b212d;
$main-color-light-green: #c8ee44;
$main-color-black: #000;
$bg-utils-cover: #e5e5e5;
$bg-utils-cover-dark-mode: #3f3b64;

$font-weigth-middle: 500;
