.error {
  margin-bottom: 4px;
  min-height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: $error-color;
  word-wrap: break-word;

  &--narrow {
    margin-bottom: 0;
  }
}

input.error-container,
select.error-container {
  border: 2px solid $error-color;
}
