.app {
  display: flex;
  // height: 100%;
  min-width: 1000px;
  min-height: 100vh;
  background-color: #fff;

  &--dark-mode {
    background-color: #1c1a2e;
  }
}



.side-pannel {
  box-sizing: border-box;
  transition: transform 1s ease-in;

  &--x {
    transform: translateX(-100%);

  }

  &--x2 {
    position: absolute;
    height: 100vh;
  }

  max-width: 225px;
  flex: 0.75;
  padding: 20px;
  background-color: #e6e6e6;

  box-sizing: border-box;

  &--dark-mode {
    background-color: #26243d;
  }

  .side-container {
    margin-bottom: 50px;
  }
}

.nav {
  // height: 75%;

  display: flex;
  // flex-basis: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;

  // .nav-my-contacts {
  //   position: absolute;
  //   top: ;
  //   right: -20px;
  // }

  &__link {
    display: flex;
    gap: 7px;
    align-items: center;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #a2adba;

    &:hover {
      color: #1b212d;
    }

    &:hover .icon-dash {
      filter: invert(6%) sepia(5%) saturate(7075%) hue-rotate(182deg) brightness(95%)
        contrast(84%);
    }

    &:hover .icon-dash--dark-mode {
      filter: invert(96%) sepia(0%) saturate(13%) hue-rotate(34deg) brightness(103%) contrast(102%);
    }

    &--dark-mode:hover {
      color: #fff;
    }

    &--active {
      color: #1b212d;
      background-color: #c8ee44;
      border-radius: 10px;
    }

    .icon-dash {
      height: 20px;
      filter: invert(78%) sepia(5%) saturate(675%) hue-rotate(172deg) brightness(87%)
        contrast(94%);

      &--lg {
        height: 25px;
      }
    }

    &--active .icon-dash {
      filter: invert(6%) sepia(5%) saturate(7075%) hue-rotate(182deg) brightness(95%)
        contrast(84%);
    }
  }

  &__dark-and-light {
    padding: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &__mode {
    color: #a2adba;
    font-weight: 500;

    &:hover {
      color: #1b212d;
    }

    &--dark-mode:hover {
      filter: invert(96%) sepia(0%) saturate(13%) hue-rotate(34deg) brightness(103%) contrast(102%);
    }

    // &:hover {
    //   filter: invert(6%) sepia(5%) saturate(7075%) hue-rotate(182deg) brightness(95%)
    //     contrast(84%);
    // }
  }
}
