.header {
  background-color: #57b29d;
  margin-bottom: 50px;
}

.navigation {
  padding: 16px 32px;
  max-height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  gap: 10px;
  height: 35px;
  text-decoration: none;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 0.5em #ebf317aa);
  }

  &.react:hover {
    filter: drop-shadow(0 0 0.5em #e5d600aa);
  }
}

.title {
  margin: 0;
  color: $text-color;
}

.link-container {
  display: flex;
  gap: 10px;
}

.link {
  color: $text-color;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
