.home {
  display: flex;
}

.balance {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;

  color: #000;
}

.balance-container {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f8f9fa;

  & h1 {
    font-weight: bold;
  }

  & &__balance {
    font-weight: bold;
    text-shadow: 2px 2px 4px #006;

    &--total {
      color: #f8f800;
    }

    &--income {
      color: #43d843;
    }

    &--expenses {
      color: #dc4c4c;
    }
  }
}

.dashBoard {
  flex: 3;
  padding: 45px 45px 0;
  box-sizing: border-box;
}

.top-controls {
  margin: -20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.add-trans {
  height: 30px;
  filter: invert(78%) sepia(5%) saturate(675%) hue-rotate(172deg) brightness(87%)
    contrast(94%);

  &:hover {
    filter: invert(6%) sepia(5%) saturate(7075%) hue-rotate(182deg) brightness(95%)
        contrast(84%);
  }

  &--dark-mode:hover {
      filter: invert(100%) sepia(2%) saturate(7500%) hue-rotate(326deg) brightness(107%) contrast(101%);
  }
}

.section-title {
  font-size: 25px;
  margin-bottom: 5px;
  // margin-bottom: 15px;

  &--dark-mode {
    color: #fff;
  }
}

.finance-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 0 50px;
}

.finance-cards {
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  // flex-grow: 1;
  width: 100%;
  gap: 20px;
}

.money-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  height: 100px;
  flex-grow: 1;
  padding: 10px;
  border-radius: 10px;
  background-color: #f8f8f8;

  &--dark-mode {
    background-color: #201e34;

    &:hover {
      background-color: #292743;
    }
  }

  &--dark-mode:hover &__icon {
    filter: invert(99%) sepia(74%) saturate(1447%) hue-rotate(14deg) brightness(95%) contrast(97%);
  }

  &--total {
    flex-grow: 2;
  }

  &__icon-container {
    padding: 10px;
    background-color: #e5e5e5;
    border-radius: 50%;

    &--dark-mode {
      background-color: #3f3b64;
    }
  }

  &__icon {
    height: 20px;

  }

  &__title {
    color: #a2adba;
    font-size: 16px;
  }

  &__sum {
    color: #1b212d;
    font-size: 30px;
    font-weight: bold;

    &--dark-mode {
      color: #fff
    }
  }

  &__balance {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    align-items: center;
  }
}

.wallet {
  background-color: #e6e6e6;
}
