.dashBoard {
  transition: width 1s;
  flex-grow: 1;
  padding: 45px 45px 0;
  box-sizing: border-box;
}

.top-controls {
  margin: -20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.add-trans {
  height: 30px;
  @extend %icon-dash-hover;

  &:hover {
    @extend %icon-hover;
  }

  &--dark-mode:hover {
    @extend %icon-hover-dark-mode;
  }
}

.section-title {
  font-size: 25px;
  margin-bottom: 5px;

  &--dark-mode {
    color: $main-color-light;
  }
}

.finance-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
