.finance-cards {
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.money-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  height: 100px;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  background-color: #f8f8f8;
  transition: transform 1s ease-in;
  user-select: none;


  &--dark-mode {
    background-color: #201e34;
  }

  &__icon-container {
    padding: 10px;
    background-color: $bg-utils-cover;
    border-radius: 50%;

    &--dark-mode {
      background-color: $bg-utils-cover-dark-mode;
    }
  }

  &__icon {
    height: 20px;
  }


  &--total &__icon-container {
    background-color: rgba(249, 249, 69, 0.896);
  }

  &--income &__icon-container {
    background-color: rgba(50, 223, 50, 0.997);
  }


  &--expense &__icon-container {
    background-color: rgb(197, 75, 75);
  }


  &__title {
    font-size: 16px;

    &--dark-mode {
      color: $link-color-light;
    }
  }

  &__sum {
    color: $link-color-light-hover;
    font-size: 30px;
    font-weight: bold;

    &--dark-mode {
      color: $main-color-light;
    }
  }

  &__balance {
    @extend %flex-cl-centered-full;
    gap: 7px;
  }
}
