.finance-cards {
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.money-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  height: 100px;
  flex-grow: 1;
  padding: 10px;
  border-radius: 10px;
  background-color: #f8f8f8;
  transition: transform 1s ease-in;
  user-select: none;

  &:hover {
    background-color: #343843;
    transform: scale(1.03);
  }

  &:hover &__sum {
    color: $main-color-light;
  }

  &:hover &__icon-container {
    background-color: #4e5257;
  }

  &--dark-mode {
    background-color: #201e34;

    &:hover {
      background-color: #292743;
    }
  }

  &:hover &__icon {
    @extend %icon-card-hover;
  }

  &--total {
    flex-grow: 2;
  }

  &__icon-container {
    padding: 10px;
    background-color: $bg-utils-cover;
    border-radius: 50%;

    &--dark-mode {
      background-color: $bg-utils-cover-dark-mode;
    }
  }

  &__icon {
    height: 20px;
  }

  &__title {
    color: $link-color-light;
    font-size: 16px;
  }

  &__sum {
    color: $link-color-light-hover;
    font-size: 30px;
    font-weight: bold;

    &--dark-mode {
      color: $main-color-light;
    }
  }

  &__balance {
    @extend %flex-cl-centered-full;
    gap: 7px;
  }
}
