.chartData {
  position: relative;
  margin: auto;
  min-height: 200px;
  // height: 28vh;
  // width: 28vw;
  // margin-bottom: 20px;

  padding: 20px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
}

