.add-trans, .tools, .side-pannel .nav__link .icon-dash {
  filter: invert(78%) sepia(5%) saturate(675%) hue-rotate(172deg) brightness(87%);
}

.add-button:hover .add-trans, .side-pannel .nav__link--active .icon-dash, .side-pannel .nav__link:hover .icon-dash {
  filter: invert(6%) sepia(5%) saturate(7075%) hue-rotate(182deg) brightness(95%) contrast(84%);
}

.add-button--dark-mode:hover .add-trans, .side-pannel .nav__mode--dark-mode:hover, .side-pannel .nav__link:hover .icon-dash--dark-mode {
  filter: invert(96%) sepia(0%) saturate(13%) hue-rotate(34deg) brightness(103%) contrast(102%);
}

.money-card__balance, .no-data {
  display: flex;
  flex-direction: column;
}

.money-card__balance, .no-data {
  justify-content: center;
  align-items: center;
}

.delete-button, .edit-button {
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  max-height: 100%;
  overflow-y: auto;
}

:root {
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}

h1,
h2 {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  white-space: nowrap;
}

a:hover {
  color: #535bf2;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.error {
  margin-bottom: 4px;
  min-height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #f00;
  word-wrap: break-word;
}
.error--narrow {
  margin-bottom: 0;
}

input.error-container,
select.error-container {
  border: 2px solid #f00;
}

@keyframes showHistory {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showUp {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.app {
  display: flex;
  min-width: 1000px;
  min-height: 100vh;
  background-color: #fff;
}
.app--dark-mode {
  background-color: #1c1a2e;
}

.no-data {
  height: 100vh;
  width: 100%;
}
.no-data__text {
  font-size: 25px;
}
.no-data__text--dark-mode {
  color: #fff;
}

.confirm-window {
  background-color: rgba(248, 248, 248, 0.9);
}
.confirm-window--dark-mode {
  background-color: rgba(49, 49, 51, 0.9);
}

.side-pannel {
  transition: transform 1s ease-in;
  max-width: 225px;
  flex: 0.75;
  padding: 20px;
  background-color: #e6e6e6;
}
.side-pannel--dark-mode {
  background-color: #26243d;
}
.side-pannel .side-container {
  margin-bottom: 20px;
}
.side-pannel .title {
  font-size: 20px;
  margin: 0;
  color: #000;
}
.side-pannel .title--dark-mode {
  color: #fff;
}
.side-pannel .nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.side-pannel .nav__link {
  display: flex;
  gap: 7px;
  align-items: center;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #a2adba;
}
.side-pannel .nav__link:hover {
  color: #1b212d;
}
.side-pannel .nav__link--dark-mode:hover {
  color: #fff;
}
.side-pannel .nav__link--active {
  color: #1b212d;
  background-color: #c8ee44;
  border-radius: 10px;
}
.side-pannel .nav__link .icon-dash {
  height: 20px;
}
.side-pannel .nav__link .icon-dash--lg {
  height: 25px;
}
.side-pannel .nav__dark-and-light {
  padding: 10px;
}
.side-pannel .nav__dark-and-light:hover {
  cursor: pointer;
}
.side-pannel .nav__mode {
  color: #a2adba;
  font-weight: 500;
}
.side-pannel .nav__mode:hover {
  color: #1b212d;
}
.tools-container {
  display: flex;
  gap: 5px;
}

.tools {
  height: 25px;
}

.edit-button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  border: 2px solid #e6e6e6;
}
.edit-button--dark-mode {
  background-color: #3f3b64;
}

.edit-button:hover {
  border: 2px solid #7cb9e8;
}

.edit-button:hover .edit-img {
  transition: background-color 1s ease, transform 0.2s ease;
  filter: invert(72%) sepia(33%) saturate(824%) hue-rotate(178deg) brightness(96%) contrast(90%);
}

.tools {
  height: 14px;
  width: 14px;
}

.delete-button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  border: 2px solid #e6e6e6;
}
.delete-button--dark-mode {
  background-color: #3f3b64;
}

.delete-button:hover {
  border: 2px solid #ee204d;
}

.delete-button:hover .delete-img {
  transition: background-color 1s ease, transform 0.2s ease;
  filter: invert(36%) sepia(100%) saturate(4598%) hue-rotate(331deg) brightness(90%) contrast(108%);
}

.chartData {
  position: relative;
  margin: auto;
  padding: 20px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
}

.table-history {
  width: 100%;
  text-align: center;
  border-collapse: separate;
}

.view-all {
  color: #28a073;
  font-weight: 500;
  text-decoration: none;
}
.view-all:hover {
  color: #006f46;
}
.view-all__eagle {
  font-size: 15px;
}

.action-controls {
  display: flex;
  gap: 10px;
}

.remove-all {
  color: #bf4f47;
  font-weight: 500;
  text-decoration: none;
}
.remove-all:hover {
  color: #751e1e;
}
.remove-all__cross {
  font-size: 15px;
}

.table-titles > * {
  text-transform: uppercase;
  color: #a2adba;
  font-size: 11px;
  font-weight: 500;
  padding-bottom: 5px;
}

.new-row {
  animation: showHistory 1s ease-in;
}

.transaction-cell {
  border-radius: 5px;
  opacity: 0.95;
}

.transaction-cell-name--dark-mode {
  color: #fff;
}

.transaction-cell-amount--dark-mode {
  color: #fff;
}

.transaction-cell-balance--dark-mode {
  color: #fff;
}

.income-cell {
  color: #00a86b;
}

.expense-cell {
  color: #fd5c63;
}

.time-cell {
  gap: 7px;
}
.time-cell--dark-mode {
  color: #fff;
}

.hours-cell {
  margin-left: 5px;
  color: #a2adba;
  font-size: 14px;
}

.editForm {
  z-index: 1;
  position: fixed;
  bottom: 50px;
  right: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 20px;
  transition: transform 1s ease;
  animation: showUp 1s ease;
}
.editForm--dark-mode {
  background-color: #26243d;
}

.logo-container {
  display: flex;
  gap: 10px;
  height: 35px;
  text-decoration: none;
}

.logo {
  border-radius: 50%;
}

.finance-cards {
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.money-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  height: 100px;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  background-color: #f8f8f8;
  transition: transform 1s ease-in;
  user-select: none;
}
.money-card--dark-mode {
  background-color: #201e34;
}
.money-card__icon-container {
  padding: 10px;
  background-color: #e5e5e5;
  border-radius: 50%;
}
.money-card__icon-container--dark-mode {
  background-color: #3f3b64;
}
.money-card__icon {
  height: 20px;
}
.money-card--total .money-card__icon-container {
  background-color: rgba(249, 249, 69, 0.896);
}
.money-card--income .money-card__icon-container {
  background-color: rgba(50, 223, 50, 0.997);
}
.money-card--expense .money-card__icon-container {
  background-color: rgb(197, 75, 75);
}
.money-card__title {
  font-size: 16px;
}
.money-card__title--dark-mode {
  color: #a2adba;
}
.money-card__sum {
  color: #1b212d;
  font-size: 30px;
  font-weight: bold;
}
.money-card__sum--dark-mode {
  color: #fff;
}
.money-card__balance {
  gap: 7px;
}

.payment-form-container--dark-mode {
  border: #26243d;
  background-color: #26243d;
  color: #fff;
}

.history-container {
  width: 100%;
  padding: 20px;
}
.history-container--full {
  padding: 50px;
}
.history-container--animated {
  animation: showHistory 1s ease-in;
}

.history-wrapper {
  padding: 20px 50px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
}

.history-top {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.section-heading {
  margin-bottom: 0;
  font-size: 20px;
  color: #1b212d;
  font-weight: bold;
}
.section-heading--dark-mode {
  color: #fff;
}

.dashBoard {
  transition: width 1s;
  flex-grow: 1;
  padding: 45px 45px 0;
  box-sizing: border-box;
}

.top-controls {
  margin: -20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-button {
  height: 35px;
  width: 35px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e6e6e6;
}
.add-button--dark-mode {
  background-color: #3f3b64;
}

.add-button:hover {
  background-color: #fff;
  border: 1px solid #000;
  transition: background-color 1s ease, border-color 1s ease;
}
.add-button--dark-mode:hover {
  background-color: #444070;
}
.add-trans {
  height: 12px;
  transition: filter 0.3s ease;
}

.section-title {
  font-size: 25px;
  margin: 0;
}
.section-title--dark-mode {
  color: #fff;
}

.finance-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
