.tools-container {
  display: flex;
  gap: 5px;
}

.tools {
  height: 25px;
}

.edit-button {
  padding: 5px;

  @extend %flex-rw-centered-scnd;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: $main-color-light;
  cursor: pointer;
  border: 2px solid $main-color-gray;

  &--dark-mode {
    background-color: $bg-utils-cover-dark-mode;
  }
}

.edit-button:hover {
  border: 2px solid #7cb9e8;
}

.edit-button:hover .edit-img {
  transition: background-color 1s ease, transform 0.2s ease;

  filter: invert(72%) sepia(33%) saturate(824%) hue-rotate(178deg) brightness(96%)
    contrast(90%);
}

.tools {
  height: 14px;
  width: 14px;

  @extend %icon-dash-hover;
}

.delete-button {
  padding: 5px;

  @extend %flex-rw-centered-scnd;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  border: 2px solid $main-color-gray;

  &--dark-mode {
    background-color: $bg-utils-cover-dark-mode;
  }
}

.delete-button:hover {
  border: 2px solid #ee204d;
}

.delete-button:hover .delete-img {
  transition: background-color 1s ease, transform 0.2s ease;

  filter: invert(36%) sepia(100%) saturate(4598%) hue-rotate(331deg) brightness(90%)
    contrast(108%);
}
