.tools-container {
  display: flex;
  gap: 5px;
}

.tools {
  height: 25px;
}

.edit-button {
  display: flex;
  align-items: center;
  padding: 1.5px 1.5px;
  border: none;
  border-radius: 7px;
  background-color: #e5e5e5;
  color: white;
  cursor: pointer;

  &--dark-mode {
    // transition: none;
    background-color: #3f3b64;
  }
}

.edit-button:hover {
  transition: background-color 1s ease, transform 0.2s ease;

  background-color: #c7ee44;
  transform: scale(1.05);
}

.edit-button:active {
  background-color: #9aba33;
}

.delete-button {
  display: flex;
  align-items: center;
  padding: 3.5px 3.5px;
  border: none;
  border-radius: 7px;
  background-color: #e5e5e5;
  cursor: pointer;

  &--dark-mode {
    background-color: #3f3b64;
  }
}

.delete-button:hover {
  transition: background-color 1s ease, transform 0.2s ease;

  background-color: #ce6262;
  transform: scale(1.05);
}

.delete-button:active {
  background-color: #972d2d;
}
